In [5]:
import streamlit as st
import numpy as np
import pandas as pd

In [8]:
df  = pd.DataFrame({
    '1列目' : [1, 2, 3, 4],
    '2列目' : [10, 20, 30, 40]
})
df

   1列目  2列目
0    1   10
1    2   20
2    3   30
3    4   40

In [18]:
df  = pd.DataFrame(
    np.random.rand(100, 2)/[50, 50] + [35.69, 139.70],
    columns=['lat', 'lon']
)
df

          lat         lon
0   35.708778  139.714638
1   35.698338  139.711519
2   35.702019  139.708323
3   35.700330  139.706464
4   35.695214  139.714114
..        ...         ...
95  35.702984  139.715100
96  35.704793  139.704237
97  35.699364  139.711166
98  35.707690  139.710620
99  35.695468  139.705386

[100 rows x 2 columns]

In [19]:
list(range(1, 10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [20]:
import time

In [21]:
for i in range(100):
    print(i)
    time.sleep(0.1)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99